/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Default Css
==========================================
*/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Rubik:300,400,500,700&display=swap');

/* --------------------- */
:root {
    --theme-color: rgb(255, 179, 65);
    --gradient: linear-gradient(15deg, rgb(255, 179, 65) 1%, rgb(255, 123, 0) 100%);
    --dark-color:#1c3354;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F5F8FA;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gradient);
    border-radius: 30px 0 0 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--dark-color);
}

p {
    color: #7b8491;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.theme-color {
    background: -webkit-linear-gradient(15deg, rgb(255, 179, 65) 1%, rgb(255, 123, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.theme-btn {
    background: var(--gradient);
    -webkit-background: var(--gradient);
    -moz-background: var(--gradient);
    -o-background: var(--gradient);
    padding: 15px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.theme-btn:hover {
    text-decoration: none;
    color: #fff;
    padding: 15px 35px;
}

.theme-btn-outline {
    border: 1px solid var(--theme-color);
    background: transparent;
    padding: 12px 35px;
    border-radius: 30px;
    color: var(--dark-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.theme-btn-outline:hover {
    color: var(--theme-color);
    text-decoration: none;
}

.sec-title h2 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    padding-bottom: 5px;
}

.sec-title p {
    padding-bottom: 25px;
}

.icon  {
    width: 60px !important;
    padding-bottom: 15px;
}


.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.bg-light {
    background: #ffffff !important;
    box-shadow: 0 0 10px 0 #eee;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/*
==========================================
    Header Css
==========================================
*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(15deg, rgb(255, 179, 65) 1%, rgb(255, 123, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.navbar-brand {
    max-width: 120px;
}

a.logo {
    max-width: 120px;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: #000 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--theme-color) !important;
}

.calltoaction {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
==========================================
    Hero Css
==========================================
*/
.hero-area {
    background: #F5F8FA;
    position: relative;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 15px;
}

.hero-text p {
    padding-bottom: 25px;
}

.hero-img img {
    display: block;
    margin: auto;
}

.hero-shape {
    position: absolute;
}
.hero-shape.shape-1 {
    left: 10%;
    top: 2%;
}
.hero-shape.shape-2 {
    left: 30%;
    top: 85%;
}
.hero-shape.shape-3{
    left: 95%;
    top: 44%;
}
.hero-shape.shape-4 {
    left: 40%;
    top: 50%;
}

/*
==========================================
    Work Area Css
==========================================
*/
.work-area {
    position: relative;
}

.single-work {
    padding: 50px;
    text-align: center;
    filter: drop-shadow(0px 10px 15px rgba(0,3,143,0.1));
    background-color: #ffffff;
    border-radius: 10px;
    height: calc(100% - 50px);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.single-work:hover {
    height: 100%;
}

.single-work h3 {
    padding: 10px 0;
}

.single-work p {
    margin-bottom: 0;
}

.single-work a {
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    visibility: hidden;
    display: block;
    padding-top: 20px;
    opacity: 0;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.single-work a:hover {
    color: var(--theme-color);
    text-decoration: none;
}

.single-work:hover a {
    opacity: 1;
    visibility: visible;
}

.work-shape {
    position: absolute;
}

.work-shape.shape-4 {
    left: 15%;
    top: 10%;
}

.work-shape.shape-6 {
    left: 85%;
    top: 20%;
}
/*
==========================================
    Access Area Css
==========================================
*/
.access-area {
    position: relative;
}
.access-shape {
    position: absolute;
}

.access-shape.shape-5 {
    left: 90%;
    top: 15%;
}

.access-shape.shape-4 {
    left: 50%;
    top: 0%;
}

/*
==========================================
    Features Area Css
==========================================
*/
.features-area {
    position: relative;
}
.features-shape {
    position: absolute;
}

.features-shape.shape-4 {
    left: 85%;
    top: 10%;
}

.features-shape.shape-6 {
    top: 0%;
    left: 10%;
}

/*
==========================================
    Manage Area Css
==========================================
*/
.manage-area {
    position: relative;
}

.manage-shape {
    position: absolute;
}

.manage-shape.shape-6 {
    left: 60%;
    top: 0%;
}

.manage-shape.shape-4 {
    left: 40%;
    top: 90%;
}

/*
==========================================
    Pricing Area Css
==========================================
*/
.pricing-area {
    position: relative;
}
.plan {
    border: 1px solid #f1f1f1;
    padding: 20px 0;
    border-radius: 5px;
    background-color: #ffffff;
    filter: drop-shadow(0px 1px 1px rgba(0,3,143,0.05));

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin-bottom: 30px;
}

.plan:hover {
    filter: drop-shadow(0px 15px 15px rgba(0,3,143,0.1));
    
}

.plan:hover a {
    text-decoration: none;
    color: var(--theme-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.plan b {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.plan:hover b {
    color: var(--theme-color);
}

.plan h3 {
    font-size: 25px;
    font-weight: 500;
}

.plan-item li {
    list-style: none;
    padding: 5px;
    color: #7b8491;
}
.border-bottom {
    border-color: #f1f1f1 !important;
}

.plan a {
    color: var(--dark-color);
    font-weight: 600;
}

.pricing-shape {
    position: absolute;
}

.pricing-shape.shape-5 {
    left: 85%;
    top: 10%;
}

.pricing-shape.shape-6 {
    left: 10%;
    top: 10%;
}

/*
==========================================
   Quote & Client Area Css
==========================================
*/
.quote-area {
    position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #ccc;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    width: 25px !important;
    height: 5px !important;
    margin-right: 10px;
    border-radius: 30px;
}

.owl-dot.active {
    background: var(--theme-color) !important;
}

.owl-dot:focus{
    outline: 0;
}

.single-quote p {
    padding-bottom: 0px !important;
}

.our-client img {
    max-width: 150px !important;
}


.quote-shape {
    position: absolute;
}

.quote-shape.shape-4 {
    left: 85%;
    top: 10%;
}

.quote-shape.shape-5 {
    left: 15%;
    top: 20%;
}

.quote-shape.shape-6 {
    top: 87%;
    left: 85%;
}

/*
==========================================
    Newsletter Area Css
==========================================
*/
.newsletter {
    position: relative;
}
.newsletter-form {
    max-width: 60%;
    margin: auto;
}

.one-line {
    text-align: center;
}
.text-input {
    border-radius: 30px 0 0 30px;
    padding: 20px 33px !important;
    height: 59.5px;
    width: 74%;
    max-width: 74%;
    border: none;
    background: #fafafa;
    border: 1px solid #eee;
    display: inline-block;
}
.newsletter-submit {
    width: 20%;
    max-width: 20%;
    height: 60px;
    border: none;
    margin-left: -1%;
    border: 1px solid transparent;
    border-radius: 0 30px 30px 0;
    background: var(--gradient);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.newsletter-shape {
    position: absolute;
}

.newsletter-shape.shape-4 {
    left: 85%;
    top: 40%;
}

.newsletter-shape.shape-6 {
    top: 30%;
    left: 7%;
}

/*
==========================================
    Footer Area Css
==========================================
*/
.footer-area {
    background: #F5F7FA;
}

.footer-area a {
    color: #7b8491;
}
.footer-area a:hover {
    color: var(--theme-color);
}

.social a {
    color: #7b8491;
    font-size: 20px;
    margin-right: 15px;
}

.widget h5 {
    border-left: 3px solid var(--theme-color);
    padding-left: 10px;
    padding-bottom: 3px;
    margin-bottom: 27px;
}

.links {
    list-style: none;
}
.links li {
    padding: 5px;
    padding-left: 15px;
}
.footer-bottom {
    border-top: 1px solid #ddd;
}
.footer-bottom p {
    margin-bottom: 0 !important;
}

.footer-nav ul {
    list-style: none;
    display: flex
}
.footer-nav ul li {
    margin-left: 15px;
}
/* =============================
    Shape Animation
================================*/
.shape {
    z-index: 0;
}
.sd-one {
	left: 8%;
	top: 38%;
	animation: moveShape 20s linear 2s infinite alternate;
}
@keyframes moveShape {
  0% {
    left: 10%;
    top: 10%;
  }

  25% {
    left: 12%;
    top: 20%;
  }

  50% {
    left: 8%;
    top: 25%;
  }

  75% {
    left: 6%;
    top: 20%;
  }

  100% {
    left: 10%;
    top: 10%;
  }
}
.sd-two {
	left: 46%;
	top: 24%;
	animation: moveShape2 20s linear 2s infinite alternate;
}
@keyframes moveShape2 {
  0% {
    left: 26%;
    top: 84%;
  }

  25% {
    left: 30%;
    top: 80%;
  }

  50% {
    left: 37%;
    top: 90%;
  }

  75% {
    left: 30%;
    top: 80%;
  }

  100% {
    left: 26%;
    top: 85%;
  }
}
.sd-three {
	right: 5%;
	top: 20%;
	animation: moveShape3 20s linear 2s infinite alternate;
}
@keyframes moveShape3 {
  0% {
    right: 5%;
    top: 20%;
  }

  25% {
    right: 10%;
    top: 30%;
  }

  50% {
    right: 8%;
    top: 45%;
  }

  75% {
    right: 3%;
    top: 30%;
  }

  100% {
    right: 15%;
    top: 20%;
  }
}
.sd-four {
	left: 22%;
	top: 10%;
	animation: moveShape4 20s linear 2s infinite alternate;
}
@keyframes moveShape4 {
  0% {
    left: 82%;
    top: 14%;
  }

  25% {
    left: 80%;
    top: 10%;
  }

  50% {
    left: 85%;
    top: 20%;
  }

  75% {
    left: 90%;
    top: 14%;
  }

  100% {
    left: 82%;
    top: 24%;
  }
}

/* bounce-animate */
.bounce-animate {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear; }
  
  @-webkit-keyframes float-bob {
    0% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); }
    50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); } }
